@use '../1-base/variables' as var;

.main{
    display: grid;
    max-width: 75%;
    margin: 4rem auto;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 10rem) auto;
    gap: 1.5rem;
    opacity: 0;
    transition: 0.5s;
}

.balance, .info {
    grid-column: 1 / span 2;
}

.table {
    grid-row: 2 / span 3;
}
